.divsection {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-family: $font;
    gap: 10px;
   

        &__art {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
             
            
            

            &--img1 {
                width: 500px;
                

            }
            &--img2 {
                width: 700px;
            }
            &--h3 {
                color: rgb(116,76,36);
                @media(min-width: 768px){
                    font-size: 24px;
                }
            }
            &--p {
                color: rgb(116,76,36);
                @media(min-width: 768px){
                    font-size: 18px;
                }
            }
        
      
        }
            
        }

.ulmenu {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: $font;
    align-items: center;
    color: rgb(116,76,36);
    background-color: rgb(235, 229, 204);
       
        &__li {
            color: rgb(116,76,36);
            background-color: rgb(240, 233, 206);
            border-color: rgb(116,76,36); 
            border: 2px solid;
            width: 100%;
           
            &--h4 {
                text-align: center;
               
                }
           
            }
        }

            


.titlemenu {
    color: rgb(116,76,36);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

      
}



