.footer{
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
    background-color: $font-color;
    padding-bottom: 34px;
    
   /* &__copy{
        display: flex;
        flex-direction: column;
        color: $font-color;
        font-size: 10px;
        font-family: $font;
        padding-left: 10px;
        padding-bottom: 10px;*/

      
    }



    .logoCan{
        width:150px;
        border-radius: 15px;
        box-shadow: 4px 4px 10px;
        width: 150px;
    }
    
    


.container{
    display: flex;
    flex-direction: column;
    color: $font-color;
    font-size: 10px;
    font-family: $font;
    padding-left: 10px;
    padding-bottom: 10px;
    
}

.links{
    list-style: none;
    
    &--li {

        text-decoration: none;
        color: $font-color;
        color: beige;
    }
    

}


