.dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: $font;
    background-color: $background;
}
.preview {
    color: $background;
}
.btnReset {
    background-color: rgb(116,76,36);
    font-family: $font;
    color: $background;
    padding: 5px;
    border-radius: 10px;
    border: none;
}
.card {
    background-color:  rgb(116,76,36);
    margin: 30px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    &__pet {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--photo {
            width: 200px;
            border: 1px solid rgb(116,76,36);
            border-radius: 20px;
        }
    }
    &__details {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }
    &__email {
        text-align: center;
    }
}
.drop {
    color: rgb(116,76,36);
    border-top: 1px solid rgb(116,76,36);
    border-bottom: 1px solid ;
    margin: 10px;
}
.form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(116,76,36);
}
.share {
    &__create {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        color: rgb(116,76,36);
        padding: 10px;
        &--btnCreate {
            padding: 5px;
            color: $background;
            background-color: rgb(116,76,36);
            border: none;
            border-radius: 10px;
        }
        &--url {
            text-decoration: none;
            color: rgb(116,76,36);
        }
        &--twitter {
            padding: 5px;
        }
    }
}