.dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: $font;
    background-color: $background;
    @media (min-width: 768px){
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
.preview {
    color: $background;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 20px;
    padding-left: 40px;
    padding-right: 40px;
    @media (min-width: 768px){
        order:2;        
    }
}
.btnReset {
    background-color: rgb(116,76,36);
    font-family: $font;
    color: $background;
    padding: 5px;
    border-radius: 10px;
    border: none;
    margin: auto;
}
.card {
    background-color:  rgb(116,76,36);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    &__pet {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--photo {
            width: 200px;
            border: 1px solid rgb(116,76,36);
            border-radius: 20px;
        }
    }
    &__details {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }
    &__email {
        text-align: center;
    }
}
.drop {
    color: rgb(116,76,36);
    border-top: 1px solid rgb(116,76,36);
    border-bottom: 1px solid ;
    margin: 10px;
    cursor: pointer;
}
.form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(116,76,36);
    &__btn {
        margin: auto;
        padding: 5px;
        color: $background;
        background-color: rgb(116,76,36);
        border-radius: 10px;
    }
}
.share {
    &__create {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        color: rgb(116,76,36);
        padding: 10px;
        &--btnCreate {
            padding: 5px;
            color: $background;
            background-color: rgb(116,76,36);
            border: none;
            border-radius: 10px;
        }
        &--url {
            text-decoration: none;
            color: rgb(116,76,36);
        }
        &--twitter {
            padding: 5px;
            padding: 5px;
            color: $background;
            background-color: $background;
            border-radius: 10px;
            border-color: 1px solid rgb(116,76,36);
        }
    }
}
.linktw {
    text-decoration: none;
    color: rgb(116,76,36);
}
.hidden{
    display: none;
}