.divsection {


    &__img {
      width: 100vh;
    }
  

    &__title {
    font-family: $font;
    color: rgb(116,76,36);
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }
    &__title2 {
      font-family: $font;
      color: rgb(116,76,36);
      text-align: center;
    }
      &__parrafo {
        padding: 15px;
        font-family: $font;
        color: rgb(116,76,36);
      }
      
} 

 