<section class="preview">
        
        <div class="card">
            <nav>
                <ul class="card__pet">
                    <li><img class="card__pet--photo" src="https://img.freepik.com/foto-gratis/retrato-primer-plano-perro-chihuahua-mirando-otro-lado_23-2148326273.jpg?size=338&ext=jpg" alt=""></li>
                    <li><h3 class="js-title">NOMBRE</h3></li>
                    <li><p class="js-age-card">12 años</p></li>
                </ul>
            </nav>
            <nav>
                <ul class="card__details">
                    <li class="card__details js-sex-card">M/F</li>
                    <li class="card__details js-size-card">Tamaño</li>
                    <li class="card__details js-castrate-card">C/No</li>
                </ul>
            </nav>
            <p class="card__email js-mail-card">estoescorreoprueba@gmail.com</p>
        </div>
    </section>