<section class="finalView">
        <div class="finalCard">
            <nav>
                <ul class="finalCard__pet">
                    <li><img class="finalCard__pet--photo js-photo-card" src="https://img.freepik.com/foto-gratis/retrato-primer-plano-perro-chihuahua-mirando-otro-lado_23-2148326273.jpg?size=338&ext=jpg" alt=""></li>
                    <li><h3 class="js-title js-title-card">NOMBRE</h3></li>
                    <li><p class="js-age-card">12 años</p></li>
                </ul>
            </nav>
            <nav>
                <ul class="finalCard__details">
                    <li class="finalCard__details js-sex-card">M/F</li>
                    <li class="finalCard__details js-size-card">Tamaño</li>
                    <li class="finalCard__details js-castrate-card">C/No</li>
                </ul>
            </nav>
            <p class="finalCard__email js-mail-card">estoescorreoprueba@gmail.com</p>
        </div>
        <div>
            <p class="resultMenu js-result"></p>
        </div>
        
            <a class="linktw" href="https://x.com/login">
                <i class="fa-brands fa-square-x-twitter"></i>
                Compartir en Twitter 
            </a>
    </section>