<div class="dropdown">
    <section class="preview">
        <input class="btnReset" type="reset" name="" id="">
        <div class="card">
            <nav>
                <ul class="card__pet">
                    <li><img class="card__pet--photo" src="https://img.freepik.com/foto-gratis/retrato-primer-plano-perro-chihuahua-mirando-otro-lado_23-2148326273.jpg?size=338&ext=jpg" alt=""></li>
                    <li><h3 class="js-title">NOMBRE</h3></li>
                    <li><p class="js-age-card">12 años</p></li>
                </ul>
            </nav>
            <nav>
                <ul class="card__details">
                    <li class="card__details js-sex-card">M/F</li>
                    <li class="card__details js-size-card">Tamaño</li>
                    <li class="card__details js-castrate-card">C/NC</li>
                </ul>
            </nav>
            <p class="card__email">estoescorreoprueba@gmail.com</p>
        </div>
    </section>
    <section class="formData">
        <article class="fillout">
            <h2 class="drop">RELLENA
                <!-- <button>Holi</button> -->
            </h2>
            <form class="form" action="">
                <label for="imagen">Foto mascota</label>
                <input type="file" id="imagen" name="imagen" accept="image/*" required>
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name" placeholder="nombre mascota" required class="js-name">
                <label for="age">Edad</label>
                <input type="number" name="age" id="age" placeholder="0" required class="js-age">
                <label for="sexo">Sexo</label>
                    <select name="sexo" id="sexo" required class="js-sexo">
                        <option>elige opción</option>
                        <option>Macho</option>
                        <option>Hembra</option>
                    </select>
                <label for="tamaño">Tamaño</label>
                    <select name="tamaño" id="tamaño" required class="js-size">
                        <option>elige opción</option>
                        <option>Pequeño &lt;10kg</option>
                        <option>Mediano 10-25kg</option>
                        <option>Hembra >25kg</option>
                    </select>
                <h4>¿Está castrado?</h4>
                <div>
                    <label for="">Si</label>
                    <input type="radio" name="castrado" id="castrado-yes" value="yes" required class="js-castrate">
                </div>
                <div>
                    <label for="">No</label>
                    <input type="radio" name="castrado" id="castrado-no" value="no" required>
                </div>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" placeholder="example@example.com" required>
                <input class="form__btn" type="submit" name="" id="">
            </form>
        </article>
        <article class="share">
            <h2 class="drop">COMPARTE
                <!-- <button>Holi</button> -->
            </h2>
            <div class="share__create">
                <button class="share__create--btnCreate">CREAR TARJETA</button>
                <h4 class="share__create--notice">La tarjeta ha sido creada:</h4>
                <a class="share__create--url" href="https://adalab.es/">https://adalab.es/</a>
                <button class="share__create--twitter">
                    <a class="linktw" href="https://adalab.es/">
                        Compartir en Twitter 
                    </a>
                </button>
            </div>
        </article>
    </section>
</div>
