<div class="dropdown">
    <section class="preview">
       
        <div class="card">
            <nav>
                <ul class="card__pet">
                    <li><img class="card__pet--photo  " src="https://img.freepik.com/foto-gratis/retrato-primer-plano-perro-chihuahua-mirando-otro-lado_23-2148326273.jpg?size=338&ext=jpg" alt=""></li>
                    <li><h3 class="js-title">NOMBRE</h3></li>
                    <li><p class="js-age-card">Años</p></li>
                </ul>
            </nav>
            <nav>
                <ul class="card__details">
                    <li class="card__details js-sex-card">M/F</li>
                    <li class="card__details js-size-card">Tamaño</li>
                    <li class="card__details js-castrate-card">C/No</li>
                </ul>
            </nav>
            <p class="card__email js-mail-card">estoescorreoprueba@gmail.com</p>
        </div>
    </section>
    <section class="formData">
        <article class="fillout">
            <h2 class="drop js-drop">RELLENA</h2>
            <form class="form js-form" action="">
                <label for="imagen" class="btn-img">Foto mascota</label>
                <input type="file" id="imagen" name="imagen" accept="image/*" class="hidden js__profile-upload-btn js-inputs">
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name" placeholder="nombre mascota" required class="js-inputs">
                <label for="age">Edad</label>
                <input type="number" name="age" id="age" placeholder="0" required class="js-inputs">
                <label for="sex">Sexo</label>
                    <select name="sex" id="sex" required class="js-inputs">
                        <option>elige opción</option>
                        <option>Macho</option>
                        <option>Hembra</option>
                    </select>
                <label for="tall">Tamaño</label>
                    <select name="tall" id="tall" required class="js-inputs">
                        <option>elige opción</option>
                        <option>Pequeño &lt;10kg</option>
                        <option>Mediano 10-25kg</option>
                        <option>Hembra >25kg</option>
                    </select>
                <h4>¿Está castrado?</h4>
                <div>
                    <label for="castrate">Si</label>
                    <input type="radio" name="castrate" id="castrate-yes" value="Castrado" required class="js-inputs">
                </div>
                <div>
                    <label for="castrate">No</label>
                    <input type="radio" name="castrate" id="castrate-no" value="No castrado" required class="js-inputs">
                </div>
                <label  for="email">Email:</label>
                <input type="email" name="email" id="email" placeholder="example@example.com" required class="js-inputs">
                <button class="share__create--btnCreate"> 
                    <a  class="create-card" href="./card.html">CREAR TARJETA</a>
                </button>
                <button class="reset js-reset">Resetear</button>
            </form>
        </article>
    </section>
</div>
 <!-- <h4 class="share__create--notice js-btn">La tarjeta ha sido creada</h4> -->