<footer class="footer">
    <div class="footer__copy">
        <span>&copy; 2024 Canino Natural</span>
        <img class="footer__copy--log" src="./public/images/logo-2.png" alt="logoCan">
    </div>
    
    <nav class="list">
        <ul class="list__link">
            <li>
                <a class="list__link--li" href="">Contacto</a>
            </li>
            <li>
                <a class="list__link--li" href="">Aviso Legal</a>
            </li>
            <li>
                <a class="list__link--li" href="">Cookies</a>
            </li>
        </ul>
    </nav>
    
</footer>