<footer class="footer">
     <figure class="logo">
        <img class="logo__can" src="./images/logo-2.png" alt="Can">

     </figure>
        
    
     <div class="container">
        <p class="container__copy">&copy; 2024 Canino Natural <i class="fas fa-paw"></i></p>
        <ul class="container__copy--ul">
            <li class="links">
                <a class="links__li" href=""  >Contacto</a></li>
            <li class="links">
                <a class="links__li" href="https://sandrarolgom.github.io/project-promo-z-module-team1/">Sobre nosotras</a></li>
            <li class="links">
                <a class="links__li" href="https://www.aepd.es/politica-de-privacidad-y-aviso-legal">Aviso Legal</a></li>
            
        </ul>
     </div>
     <div>
        <p class="links"> 
            <a class="links__li" href="https://socialgob.org/mas-informacion-sobre-las-cookies/">Cookies</a></p>
     </div>

 
    
</footer>









