<footer class="footer">
     <figure class="logo">
        <img class="logo__can" src="./images/logo-2.png" alt="Can">

     </figure>
        
    
    <div class="container">
        <p class="container__copy">&copy; 2024 Canino Natural <i class="fas fa-paw"></i></p>
        <ul>
            <li class="links">
                <a class="links__li" href=""  >Contacto</a></li>
            <li class="links">
                <a class="links__li" href="">Sobre nosotras</a></li>
            <li class="links">
                <a class="links__li" href="">Aviso Legal</a></li>
            <li class="links"> 
                <a class="links__li" href="">Cookies</a></li>
        </ul>
    </div>
</footer>









