<section>
    <div class="divsection">
        <article class="divsection__art"></article>
            <img class="divsection__art--img1" src="./images/quecomen.jpg" alt="¿Qué comen nuestros perros">
            <h3 class="divsection__art--h3">Necesidades nutricionales de los perros</h3>
            <p class="divsection__art--p"> La dieta de un perro debe incluir diferentes ingredientes como proteínas, cereales, frutas, verduras y ácidos grasos. Además, debería evitarse en la mayor medida de lo posible el uso de conservantes o colorantes, ya que estos aditivos pueden causar problemas de salud. El porcentaje que se necesita de cada nutriente es diferente</p>
            </article>   
        </article>
        <article class="divsection__art2"></article>
            <img class="divsection__art--img2" src="./images/composicion.jpg" alt="Composición">
            <p></p>
        </article>

        <div>
            <h3 class="titlemenu">Los mejores Menús del mercado</h3>
            <ul class="ulmenu">
                <li class="ulmenu__li">
                    <h4 class="ulmenu__li--h4">Menú de pollo</h4>
                    <p class="ulmenu__li--p">Con un 67% de pollo y un 33% de zanahoria, boniato y otras verduras.</p>
                </li>
                <li class="ulmenu__li">
                    <h4 class="ulmenu__li--h4">Menú de pavo</h4>
                    <p class="ulmenu__li--p">Con un 65.8% de pavo y un 34.2% de zanahoria, calabaza y otras verduas.</p>
                </li>
                <li class="ulmenu__li">
                    <h4 class="ulmenu__li--h4">Menú de buey</h4>
                    <p class="ulmenu__li--p">Con un 68% de buey y un 32% de zanahoria, patatas y otras verduras.</p>
                </li>
                <li class="ulmenu__li">
                    <h4 class="ulmenu__li--h4">Menú de Salmón</h4>
                    <p class="ulmenu__li--p">Con un 43% de salmón, un 25% de pollo y un 32% de  verduras.</p>
                </li>
            </ul>
        </div>
        <div class="button">
            <a  href="./form.html" class="button__element" >CREA TU MENÚ</a>
        </div>

    </div>













</section>1